doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    block Poppi chat
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,500,700&subset=latin,vietnamese,latin-ext,greek')
    //- meta(name='apple-mobile-web-app-capable', content='yes')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='black')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js')
      script(src='js/respond.min.js')
    link(href='stylus/fonts.css', type='text/css', rel='stylesheet')
    // stylesheet
    link(href='stylus/style.css', type='text/css', rel='stylesheet')
    script(src='js/jquery-1.10.2.js')
    script(src='js/jquery-ui.js')
    script(src='js/script.js')
  body
    .chat-list-block
      .chat-all-content
        header
          a.btn-default-chat(href='#') Chat with us
          a#close-chat-list(href="#")
            i.icon-close-btn
        .list-chat-content
          .media.default-list
            .media-left
              a(href='#')
                img.media-object(src="images/user.jpg")
            .media-body
              h4.media-heading Hieupham84vn@gmail.com
              time 2 days
              p
                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                | industry's
          .media.default-list.unread
            .media-left
              a(href='#')
                img.media-object(src="images/user.jpg")
            .media-body
              h4.media-heading Hieupham84vn@gmail.com
              time 2 days
              p
                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                | industry's
          .media.default-list
            .media-left
              a(href='#')
                img.media-object(src="images/user.jpg")
            .media-body
              h4.media-heading Hieupham84vn@gmail.com
              time 2 days
              p
                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                | industry's
          .media.default-list
            .media-left
              a(href='#')
                img.media-object(src="images/user.jpg")
            .media-body
              h4.media-heading Hieupham84vn@gmail.com
              time 2 days
              p
                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                | industry's
          .media.default-list
            .media-left
              a(href='#')
                img.media-object(src="images/user.jpg")
            .media-body
              h4.media-heading Hieupham84vn@gmail.com
              time 2 days
              p
                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                | industry's