doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    block Poppi chat
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,500,700&subset=latin,vietnamese,latin-ext,greek')
    //- meta(name='apple-mobile-web-app-capable', content='yes')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='black')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js')
      script(src='js/respond.min.js')
    link(href='stylus/fonts.css', type='text/css', rel='stylesheet')
    // stylesheet
    link(href='stylus/style.css', type='text/css', rel='stylesheet')
    script(src='js/jquery-1.10.2.js')
    script(src='js/jquery-ui.js')
    script(src='js/script.js')
  body
    .poppi-chat
      .header
        header
          img(src='images/logo.png', alt='logo poppi')

      .sidebar-left
        ul.menu-left
          li
            a(href='#')
              i.icon-icon-notification
              span
                | Notification
          li
            a(href='#')
              i.icon-circle
              span
                | People
          li
            a(href='#')
              i.icon-interface
              span
                | Conversations
          li
            a(href='#')
              i.icon-icon-setting
              span
                | App setting
        a.show-hide-nav(href='#')
          i.icon-arrows
      .content-page
        #conversation-people
          .left-filtter-conversation
            h3.title-conversation Filter by
            #list-filter-conversation
              ul
                li
                  a(href="#", class="fitler-by",id="filter-name") Name
                li
                  a(href="#", class="fitler-by has-form",id="filter-email") Email
                  #filter-group-email
                    input(type='text' placeholder="@gmail")
                li
                  a(href="#", class="fitler-by",id="filter-location") Location
                li
                  a(href="#", class="fitler-by",id="filter-first-seen") First Seen
                li
                  a(href="#", class="fitler-by has-form",id="filter-last-seen") Last Seen
                  #filter-group-last-seen
                    label  From
                    input(type='text' placeholder="12/03/2016")
                    label  To
                    input(type='text' placeholder="12/03/2016")
                li
                  a(href="#", class="fitler-by",id="filter-browser") Browser
                li
                  a(href="#", class="fitler-by",id="filter-browser-language") Browser Language
                li
                  a(href="#", class="fitler-by has-form",id="filter-web-sessions") Web Sessions
                  #filter-group-web-sessions
                    label  From
                    input(type='text' placeholder="12/03/2016")
                    label  To
                    input(type='text' placeholder="12/03/2016")
          .right-filtter-conversation
            table.table-conversation
              thead
                tr
                  th Name
                  th Email
                  th Location
                  th First seen
                  th Last seen
                  th Browser
                  th Browser language
              tbody
                tr
                  td.name Luu Minh Tan

                  td.email
                    span luuminhtan123@gmail.com
                  td.location
                    span Ho Chi Minh city
                  td.first-seen
                    span 12/03/2016
                  td.last-seen
                    span 12/03/2016
                  td.browser
                    span Chrome
                  td.browser-language
                    span Vietnamese
                tr
                  td.name
                    span Luu Minh Tan
                  td.email
                    span luuminhtan123@gmail.com
                  td.location
                    span Ho Chi Minh city
                  td.first-seen
                    span 12/03/2016
                  td.last-seen
                    span 12/03/2016
                  td.browser
                    span Chrome
                  td.browser-language
                    span Vietnamese
                tr
                  td.name
                    span Luu Minh Tan
                  td.email
                    span luuminhtan123@gmail.com
                  td.location
                    span Ho Chi Minh city
                  td.first-seen
                    span 12/03/2016
                  td.last-seen
                    span 12/03/2016
                  td.browser
                    span Chrome
                  td.browser-language
                    span Vietnamese