doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    block Poppi chat
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,100&subset=latin,vietnamese,latin-ext' rel='stylesheet' type='text/css')
    //- meta(name='apple-mobile-web-app-capable', content='yes')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='black')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js')
      script(src='js/respond.min.js')
    link(href='stylus/fonts.css', type='text/css', rel='stylesheet')
    // stylesheet
    link(href='stylus/style.css', type='text/css', rel='stylesheet')
    script(src='js/jquery-1.10.2.js')
    script(src='js/jquery-ui.js')
    script(src='js/script.js')
  body
    .poppi-chat
      .header.header-conversation-profile
        .infor-conversation-profile
          a(href='#')
            img.media-object(src="images/user.jpg")
          .user-info
            h4.media-heading luuminhtan
            span luuminhtan123@gmail.com
        .info-account-sign
          i.icon-sign-out
          span Sign out
                
      .sidebar-left
        ul.menu-left
          li
            a(href='#')
              i.icon-icon-notification
              span
                | Notification
          li
            a(href='#')
              i.icon-circle
              span
                | People
          li
            a(href='#')
              i.icon-interface
              span
                | Conversations
          li
            a(href='#')
              i.icon-icon-setting
              span
                | App setting
        a.show-hide-nav(href='#')
          i.icon-arrows
      .content-page.full-header
        #tabs-conversation-profile
          ul
            li
              a(href='#tabs-conversations') Conversations
            li
              a(href='#tabs-conversations-user') Conversations
            li
              a(href='#tabs-profile') Profile
            li
              a(href='#tabs-password') Password
            li
              a(href='#tabs-profile-user') Profile User
          #tabs-conversations
            .tabs-conversations-content
              .media.default-list
                .media-left
                  a(href='#')
                    img.media-object(src="images/user.jpg")
                .media-body
                  h4.media-heading Hieupham84vn@gmail.com
                  time 2 days
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    | industry's
              .media.default-list
                .media-left
                  a(href='#')
                    img.media-object(src="images/user.jpg")
                .media-body
                  h4.media-heading Hieupham84vn@gmail.com
                  time 2 days
                  p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    | industry's
          #tabs-profile
            .content-tabs-profile
              .form-search-profile
                img.media-object(src="images/user.jpg")
                input(type="text", placeholder='Type a name and hit Enter')
              .hr
                span Detail
              .info-profile-tabs-user
                label Location:
                span Ho Chi Minh city, Vietnam
                label Email:
                span guest.12022016@gmail.com
                label First seen:
                span 19 days ago
                label Last seen:
                span 6 days ago
                label Browser language:
                span Vietnamese
                label Browser:
                span Chrome
                label Browser version:
                span 49.0.2623.91
                label Web sessions:
                span 23
              .hr
                span Action
              .action-profile-tabs-user
                a(href="#",class="btn-profile delete")
                  span Delete person
                  i Delete this person and their conversation history
                a(href="#",class="btn-profile")
                  span Block person
                  i Block this person and future messages from them
                a(href="#",class="btn-profile")
                  span Unsubscribe from email
                  i Stop sending this person email
          #tabs-password
            .content-tabs-password
              .hr
                span Change your password
              #changePassword
                .group-form-custom
                  label Current password
                  input(type='password' class='txt-custom')
                .group-form-custom
                  label New password
                  input(type='password' class='txt-custom')
                .group-form-custom
                  label Confirm new password
                  input(type='password' class='txt-custom')
              .actionUpdatePass
                a(href="#", class='btnp btnp-default') Update
                a(href="#", class='btnp btnp-cancel') Cancel

          #tabs-profile-user
            .content-tabs-profile
              #update-avatar.avatar-form
                img(src="images/user.jpg")
                .form-avatar
                  label Your profile picture
                  a(href="#", class='btnp btnp-none btnp-lg') Update
              .hr
                span Profile
              #profile-Form
                .group-form-custom
                  label Name
                  input(type='text' class='txt-custom',placeholder='LuuminhTan')
                .group-form-custom
                  label Email
                  input(type='text' class='txt-custom',placeholder='luuminhtan@gmail.com')
              .actionUpdateProfile
                a(href="#", class='btnp btnp-default') Save
                a(href="#", class='btnp btnp-cancel') Cancel
          #tabs-conversations-user
            .tabs-conversations-content
              .tabs-conversations-content-user
                .media.default-list.toggle-Details-conversation
                  .media-left
                    a(href='#')
                      img.media-object(src="images/user.jpg")
                  .media-body
                    h4.media-heading Hieupham84vn@gmail.com
                    time 2 days
                    p
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                      | industry's

                .toogleConversations
                  .info-user-chat.fixed-none
                    .left-user
                      a(href='#')
                        img.media-object(data-src='holder.js/64x64', alt='64x64', src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTM5OWNhZWZkMCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1Mzk5Y2FlZmQwIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy40Njg3NSIgeT0iMzYuNSI+NjR4NjQ8L3RleHQ+PC9nPjwvZz48L3N2Zz4=', data-holder-rendered='true')
                        span Me
                        i.icon-arrows-down
                    .center-user
                      a(href='#')
                        | Conversation
                        span with
                        | Hieupham84vn@gmail.com
                    .right-user
                      a(href='#',class='close-conversation')
                        i.icon-medical
                        span Close

                  .content-chat.main-chat
                    .media.media-chat.chat-left.no-border
                      .media-left
                        a(href='#')
                          img.media-object(src="images/user.svg")
                      .media-body
                        p.chat-text Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry
                    .media.media-chat.chat-right.no-border
                      .media-left
                        a(href='#')
                        img.media-object(src="images/user.svg")
                      .media-body
                        p.chat-text Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry
                      time Sent 12:30 17/02/2016
                    .media.media-chat.chat-left.no-border
                      .media-left
                        a(href='#')
                          img.media-object(src="images/user.svg")
                      .media-body
                        p.chat-text Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry
                      time Sent 12:30 17/02/2016
                    .media.media-chat.chat-right.no-border
                      .media-left
                        a(href='#')
                          img.media-object(src="images/user.svg")
                      .media-body
                        p.chat-text Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry
                      time Sent 12:30 17/02/2016
                  .actionChat.fixed-none
                    .chatNote
                      ul
                        li.active
                          a(href='#') Reply
                        li
                          a(href='#') Note
                        li.right
                          a(href='#')
                            i.icon-signs
                    .text-reply
                      textarea(placeholder='Chat Messages')
                    .iconAction
                      ul
                        li
                          a(href='#')
                            i.icon-icon-smiley
                        li
                          a(href='#')
                            i.icon-photo
                        li
                          a(href='#')
                            i.icon-symbols
                        li.right
                          button.actionReply Reply
              .tabs-conversations-content-user
                .media.default-list.toggle-Details-conversation
                  .media-left
                    a(href='#')
                      img.media-object(src="images/user.jpg")
                  .media-body
                    h4.media-heading Hieupham84vn@gmail.com
                    time 2 days
                    p
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                      | industry's

                .toogleConversations
                  .info-user-chat.fixed-none
                    .left-user
                      a(href='#')
                        img.media-object(data-src='holder.js/64x64', alt='64x64', src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTM5OWNhZWZkMCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1Mzk5Y2FlZmQwIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy40Njg3NSIgeT0iMzYuNSI+NjR4NjQ8L3RleHQ+PC9nPjwvZz48L3N2Zz4=', data-holder-rendered='true')
                        span Me
                        i.icon-arrows-down
                    .center-user
                      a(href='#')
                        | Conversation
                        span with
                        | Hieupham84vn@gmail.com
                    .right-user
                      a(href='#',class='close-conversation')
                        i.icon-medical
                        span Close

                  .content-chat.main-chat
                    .media.media-chat.chat-left.no-border
                      .media-left
                        a(href='#')
                          img.media-object(src="images/user.svg")
                      .media-body
                        p.chat-text Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry
                    .media.media-chat.chat-right.no-border
                      .media-left
                        a(href='#')
                        img.media-object(src="images/user.svg")
                      .media-body
                        p.chat-text Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry
                      time Sent 12:30 17/02/2016
                    .media.media-chat.chat-left.no-border
                      .media-left
                        a(href='#')
                          img.media-object(src="images/user.svg")
                      .media-body
                        p.chat-text Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry
                      time Sent 12:30 17/02/2016
                    .media.media-chat.chat-right.no-border
                      .media-left
                        a(href='#')
                          img.media-object(src="images/user.svg")
                      .media-body
                        p.chat-text Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry
                      time Sent 12:30 17/02/2016
                  .actionChat.fixed-none
                    .chatNote
                      ul
                        li.active
                          a(href='#') Reply
                        li
                          a(href='#') Note
                        li.right
                          a(href='#')
                            i.icon-signs
                    .text-reply
                      textarea(placeholder='Chat Messages')
                    .iconAction
                      ul
                        li
                          a(href='#')
                            i.icon-icon-smiley
                        li
                          a(href='#')
                            i.icon-photo
                        li
                          a(href='#')
                            i.icon-symbols
                        li.right
                          button.actionReply Reply
              .tabs-conversations-content-user
                .media.default-list.toggle-Details-conversation
                  .media-left
                    a(href='#')
                      img.media-object(src="images/user.jpg")
                  .media-body
                    h4.media-heading Hieupham84vn@gmail.com
                    time 2 days
                    p
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                      | industry's
                .toogleConversations
                  .info-user-chat.fixed-none
                    .left-user
                      a(href='#')
                        img.media-object(data-src='holder.js/64x64', alt='64x64', src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTM5OWNhZWZkMCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1Mzk5Y2FlZmQwIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy40Njg3NSIgeT0iMzYuNSI+NjR4NjQ8L3RleHQ+PC9nPjwvZz48L3N2Zz4=', data-holder-rendered='true')
                        span Me
                        i.icon-arrows-down
                    .center-user
                      a(href='#')
                        | Conversation
                        span with
                        | Hieupham84vn@gmail.com
                    .right-user
                      a(href='#',class='close-conversation')
                        i.icon-medical
                        span Close
                  .content-chat.main-chat
                    .media.media-chat.chat-left.no-border
                      .media-left
                        a(href='#')
                          img.media-object(src="images/user.svg")
                      .media-body
                        p.chat-text Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry
                    .media.media-chat.chat-right.no-border
                      .media-left
                        a(href='#')
                        img.media-object(src="images/user.svg")
                      .media-body
                        p.chat-text Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry
                      time Sent 12:30 17/02/2016
                    .media.media-chat.chat-left.no-border
                      .media-left
                        a(href='#')
                          img.media-object(src="images/user.svg")
                      .media-body
                        p.chat-text Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry
                      time Sent 12:30 17/02/2016
                    .media.media-chat.chat-right.no-border
                      .media-left
                        a(href='#')
                          img.media-object(src="images/user.svg")
                      .media-body
                        p.chat-text Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry
                      time Sent 12:30 17/02/2016
                  .actionChat.fixed-none
                    .chatNote
                      ul
                        li.active
                          a(href='#') Reply
                        li
                          a(href='#') Note
                        li.right
                          a(href='#')
                            i.icon-signs
                    .text-reply
                      textarea(placeholder='Chat Messages')
                    .iconAction
                      ul
                        li
                          a(href='#')
                            i.icon-icon-smiley
                        li
                          a(href='#')
                            i.icon-photo
                        li
                          a(href='#')
                            i.icon-symbols
                        li.right
                          button.actionReply Reply
              .tabs-conversations-content-user
                .media.default-list.toggle-Details-conversation
                  .media-left
                    a(href='#')
                      img.media-object(src="images/user.jpg")
                  .media-body
                    h4.media-heading Hieupham84vn@gmail.com
                    time 2 days
                    p
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                      | industry's
                .toogleConversations
                  .info-user-chat.fixed-none
                    .left-user
                      a(href='#')
                        img.media-object(data-src='holder.js/64x64', alt='64x64', src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTM5OWNhZWZkMCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1Mzk5Y2FlZmQwIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy40Njg3NSIgeT0iMzYuNSI+NjR4NjQ8L3RleHQ+PC9nPjwvZz48L3N2Zz4=', data-holder-rendered='true')
                        span Me
                        i.icon-arrows-down
                    .center-user
                      a(href='#')
                        | Conversation
                        span with
                        | Hieupham84vn@gmail.com
                    .right-user
                      a(href='#',class='close-conversation')
                        i.icon-medical
                        span Close
                  .content-chat.main-chat
                    .media.media-chat.chat-left.no-border
                      .media-left
                        a(href='#')
                          img.media-object(src="images/user.svg")
                      .media-body
                        p.chat-text Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry
                    .media.media-chat.chat-right.no-border
                      .media-left
                        a(href='#')
                        img.media-object(src="images/user.svg")
                      .media-body
                        p.chat-text Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry
                      time Sent 12:30 17/02/2016
                    .media.media-chat.chat-left.no-border
                      .media-left
                        a(href='#')
                          img.media-object(src="images/user.svg")
                      .media-body
                        p.chat-text Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry
                      time Sent 12:30 17/02/2016
                    .media.media-chat.chat-right.no-border
                      .media-left
                        a(href='#')
                          img.media-object(src="images/user.svg")
                      .media-body
                        p.chat-text Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry
                      time Sent 12:30 17/02/2016
                  .actionChat.fixed-none
                    .chatNote
                      ul
                        li.active
                          a(href='#') Reply
                        li
                          a(href='#') Note
                        li.right
                          a(href='#')
                            i.icon-signs
                    .text-reply
                      textarea(placeholder='Chat Messages')
                    .iconAction
                      ul
                        li
                          a(href='#')
                            i.icon-icon-smiley
                        li
                          a(href='#')
                            i.icon-photo
                        li
                          a(href='#')
                            i.icon-symbols
                        li.right
                          button.actionReply Reply
