.content-page
  width calc(100% - 85px)
  height calc(100% - 80px)
  position fixed
  left 85px
  top 60px
  &.full-header
    top 80px
  .content-main
    display inline-block
    overflow-y scroll
    float left
    background #ebebeb
    height calc(100% - 200px)
    width calc(100% - 480px)