.poppi-chat
  .header
    display inline-block
    width calc(100% - 85px)
    height 60px
    position fixed
    top 0px
    left 85px
    background #1074ae
    img
      display inline-block
      float left
      margin-left 30px
      margin-top 20px
    ul
      width calc(100% - 90px)
      display inline-block
      list-style-type circle
    li
      display inline-block
      font-size 14px
      padding 0 25px
      line-height 60px
      float left
      position relative
      a
        color #fff
        number
          font-size 10px
          color #dfdfdf
          margin-left 10px
      &.me
        a
          color #fff
          i
            height 30px
            width 30px
            color #4d7388
            background #fff
            margin-right 20px
            border-radius 4px
            padding 5px
          number
            font-size 10px
            color #dfdfdf
            margin-left 10px
      &:after
        content ''
        position absolute
        width 4px
        left -4px
        height 4px
        top calc(50% - 2px)
        border 1px solid #ffffff
        background-color #fff
        border-radius 100%
    .right
      float right
      &:after
        display none
.groupSearch
  position relative
  input
    border none
    font-size 13px
    height 35px
    color #fff
    width 300px
    background-color transparent
    border-bottom 1px solid #fff
  i
    color #ffffff
    position absolute
    right 10px
    top 24px

