.media, .media-body
  overflow hidden
  zoom 1

.media-object
  display block

.media-left, .media>.pull-left
  padding-right 15px

.media-body, .media-left, .media-right
  display table-cell
  vertical-align top
.media
  padding 20px 15px
  .media-left
    .last-comment
      width 20px
      height 20px
      margin-top 15px
      border-radius 2px
      display inline-block
      float right
      background #de4f4f
  .media-heading
    margin-top 0
    margin-bottom 10px
    font-weight 500
    font-size 16px
    color #333
  .media-body
    time
      font-size 12px
      color #333
      margin-bottom 10px
      display inline-block
      width 100%
    p
      font-size 14px
      line-height 18px
      color #333

.media.non-read
  background-color #f3f3f3
