.title-page
  color #1074ae
  font-size 24px
  margin-top 50px
  text-align center
  margin-bottom 30px
.des-page
  text-align center
  display inline-block
  width 100%
  margin 0px 0px 30px 0px
  line-height 20px
  color #606060
#create-app-page
  display inline-block
  width 100%
  height calc(100% - 60px)
  overflow overlay
  background #ebebeb

.content-create-app
  width 600px
  display block
  margin 0 auto
  #create-app-form
    padding 40px
    border-radius 5px
    background-color #fff

