@import 'list-chat.import'
.chat-list-block
  display inline-block
  width 100%
  .chat-all-content
    width 370px
    border  1px solid #e3e3e3
    display block
    margin 0 auto
    box-shadow -1px 0px 4px rgba(0, 0, 0, 0.35)
    #chat-list-detail
      width 340px
      display inline-block
      padding-bottom 150px
      .actionChat
        width inherit
        bottom 15px
        margin  0px 15px
        border 1px solid #c2c2c2
        .text-reply
          textarea
            width calc(100% - 20px)
