.list-menu-general
  border-radius 5px
  display inline-block
  width calc(100% - 30px)
  padding 15px
  background-color #fff
  li
    display inline-block
    width calc(100% - 30px)
    border-radius 5px
    padding 15px
    background-color transparent
    border none
    text-align left
    a
      color #343434
  .ui-tabs-active
    background-color #1074ae
    a
      color #fff
  .ui-tabs-hover
    background-color #1074ae
    a
      color #fff