.group-form-custom
  display inline-block
  width 100%
  margin-bottom 20px
  label
    color #636363
    display inline-block
    width 100%
    margin-bottom 10px
  input
    border 1px solid #959595
    color #636363
    height 30px
    text-indent 15px
    border-radius 3px
    font-size 14px
    width 100%
    &:focus
      border 1px solid #000
  input[type='checkbox']
    width 20px
  textarea
    border 1px solid #959595
    color #636363
    width 100%
    border-radius 3px
    display inline-block
    resize none
    font-size 14px
    padding 10px
    height 80px
  .action-items
    display inline-block
    width 100%
    margin 15px 0px
.btn-default-custom
  display inline-block
  padding 0 20px
  height 32px
  font-size 13px
  font-weight 300
  line-height 32px
  background#1074ae
  color #fff
  margin-right 25px
  border-radius 3px
  &.warming
    background #de4f4f
  &.cancel
    background #e1e1e1
    color #5c5c5c
