@import 'lib-settings.import'
@import 'left-menu-settings.import'
@import 'general-settings.import'
@import 'template-settings.import'
@import 'template-upgrade.import.styl'


$bg-settings = #ebebeb
.settings-page
  min-height 100%
  padding 25px
  display inline-block
  width calc(100% - 50px)
  background-color $bg-settings
.title-general
  color #636363
  font-size 18px
  margin-bottom 15px
.left-menu
  width 300px
  height 100%
  display inline-block

.right-content
  width calc(100% - 325px)
  display inline-block
  float right
  .content-settings
    background-color #fff
    padding 25px
