#messaging-settings
  .group-form-custom
    input
      width 70%
    input[type='checkbox']
      width 20px
      margin 0px 5px 15px 0px
      color #636363
      height 14px
    textarea
      width calc(70% - 20px)
    .text-checkbox
      color #636363
    .desinfo
      display inline-block
      width 100%
      color #aaaaaa
      margin-top 20px
      line-height 20px
