#upgrade-settings
  .action-settings-page
    text-align right
    margin 25px 0px
    .btn-default-custom
      width 160px
      height 40px
      padding 0px
      line-height 45px
      text-align center
      &:last-child
        margin 0px
