.content-left
  display inline-block
  float left
  margin-top 50px
  width 479px
  border-right 1px solid #c2c2c2
  background-color #fff
  overflow scroll
  height calc(100% - 110px)
#infoUser-tabs
  .media
    margin-bottom 15px
    .media-body
     .media-heading
      margin -5px 0px 0px 0px
      min-height 30px
      line-height 30px
      .new-message
        padding 1px 12px
        background #de4f4f
        position relative
        margin-left 15px
        font-weight 400
        font-size 14px
        color #fff
        border-radius 2px
  #tabs-open
    display inline-block
    width 100%
  .ui-tabs-nav
    position fixed
    top 60px
    z-index 1
    width 479px
    border-right 1px solid #c2c2c2
    li
      display inline-block
      width 50%
      float left
      background-color #ebebeb
      text-align center
      padding 18px 0px
      border-bottom 1px solid #c2c2c2
      a
        color #033333
        font-size 14px
    .ui-tabs-active
      background-color #fff
      border-bottom 1px solid #c2c2c2
